body {
    background-color: #8f97a3 !important;
    width: 100vw;
    height: 100vh;
}

#border {
    padding: 15px;
    background-color: #56606c;
}

#parameters {
    display: flex;
    color: #fff;
    width: 100%;
    justify-content: center;
    margin: 5px 0 20px 0;
}

.btn {
    background-color: #e8f1f8;
    padding: 5px;
    color: #000;
    border-radius: 5px;
}

.btn.active {
    background: #989fa7;
    color: #fff;
}

#players {
    background-color: #bbd3ef;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 5px;
}

.player {
    background-color: #e8f1f8;
    padding: 5px;
    margin: 6px;
    display: flex;
    border: 2px #2c3e50 solid;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #748594;
}

.player .avatar {
    margin-right: 10px;
}

.player .avatar img {
    width: 60px;
    height: auto;
    margin: 0;
    padding: 0;
}

.player .infos {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 10px 20px 0 0;
}

.player .infos .close i {
    float: right;
    display: inline-block;
}

.player .infos .status {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    width: 190px;
}

.player .infos .status.impostor {
    color: #e74c3c;
} 

.player .infos .status.suspect {
    color: #c0392b;
}

.player .infos .top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player .infos .top .fas:hover {
    cursor: pointer;
}

.player.isDead {
    background: #989fa7;
}

.player.removed {
    display: none;
}

.dead {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

ul {
    display: flex;
    justify-content: center;
}

ul li {
    margin: 2px;
    font-size: 22px;
}

ul li:hover {
    cursor: pointer;
    font-weight: bold;
}

li + li::before {
    content: " - ";
}

#coop {
    width: 100%;
    text-align: center;
    margin: 5px;
    color: #fff;
}

#coop a {    
    color: #fff;
}
